.wrapper {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solids #000000;
    background-color: #F8F9F9;
}

header {
    height: 140px;
    background-color: #eaaf8f;
}

figure img  {
    width: 160px;
    border-radius: 50%;
}

h1 {
    text-align: center;
    padding: 10px 0px 0px 0px;
    font-size: 40px;
    color: #000000;
    font-family: sans-serif;
}

nav {
    background-color: #b94c34;
    height: 50px;
}

nav ul li {
    display: inline;
    margin: 40px;
    font-size: 30px;
}

nav li a {
    color: #612009;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}


nav ul {
    margin: 0px;
    padding: 5px;
}

nav li a:hover {
    color: #000000;
}

section.content {
    float: left;
    width: 650px;
    margin-top: 20px;
    border-right: 1px solid #eeeeee;
}

article {
    overflow: auto;
    width: 100%;
}

figure {
    float: left;
    width: 290px;
    height: 240px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #ffffff;
}

figcaption {
    text-align: left;
    font-family: monospace;
}

h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: sans-serif;
}

p {
    font-size: 20px;
}

aside {
    width: 230px;
    float: left;
    padding: 20px 0px 0px 20px;
}

aside section li {
    margin: 40px;
    font-size: 30px;
}

aside section li a {
    color: #612009;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}


aside section ul {
    margin: 0px;
    padding: 5px;
}

aside section li a:hover {
    color: #000000;
}


footer {
    width: 920px;
    height: 30px;
    margin-top: 605px;
    padding: 10px 0px 0px 20px;
    font-weight: bold;
    color: #ebebeb;
    background-color: #AB2414;
}